#medicos{
    .btn-primary{
        background: red;
        border: red;
        border-radius: 50%;
    }
    .btn-secondary{
        background: blue;
        border: blue;
        border-radius: 50%;
    }
}
