// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


.blue-badge {
    background-color: #007BFF;
    color: #fff;
}

.red-badge {
    background-color: #f32509;
    color: #fff;
}

.badge {
    margin-right: 5px;
  }
