// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$ship-cove-50: #f3f7fb;
$ship-cove-100: #e5ebf4;
$ship-cove-200: #d0dded;
$ship-cove-300: #b0c7e0;
$ship-cove-400: #8aa9d0;
$ship-cove-500: #6e8ec3;
$ship-cove-600: #647fb9;
$ship-cove-700: #5066a5;
$ship-cove-800: #465587;
$ship-cove-900: #3b486d;
$ship-cove-950: #282e43;

$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;


.blue-badge {
    background-color: #007BFF;
    color: #fff;
}

.red-badge {
    background-color: #f32509;
    color: #fff;
}

.badge {
    margin-right: 5px;
  }
