// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#auth {
    align-items: center;
    background: url(/public/images/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    color: black;
    display: flex;
    height: auto;
    min-height: 100vh;
    padding: 20px;
    position: relative;
    width: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

    .overlay {
        background: rgba(38, 38, 38, .6);
        bottom: 0px;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;

        .container {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;

            main {
                .card {
                    background-color: #ffffff;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

                    .card-body {
                        #buttons-ini {
                            .btn-primary {
                                background-color: #ff8d30;
                                border: none;
                                border-color: none;
                                width: -webkit-fill-available;
                                margin: 10px 20px;
                                transition: $tran-04;
                                border-radius: 5px;
                                color: #ffffff;

                                &:hover {
                                    background-image: linear-gradient(to right, #FF512F 0%, #ef7c1e 70%);
                                    border-color: none;
                                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                                    color: #ffffff;
                                }

                                a {
                                    font-size: 17px;
                                    font-weight: 500;
                                    width: 100%;
                                    color: #ffffff;
                                    text-decoration: none;

                                }
                            }
                        }

                        #formulario {
                            .container {
                                height: fit-content;
                            }
                        }
                    }
                }
            }
            .row{
                border-radius: 10px;
                img{
                    border-radius: 10px 0px 0px 10px;
                }
                #login {
                    h5 {
                        color: rgb(104, 124, 254);
                        margin: 0;
                    }

                    span {
                        color: #878a99;
                        font-size: 16px;
                        font-weight: normal;
                        a {

                            cursor: pointer;
                            text-underline-offset: 5px;
                            color: #878a99;
                            &#inicio{
                                color: rgb(104, 124, 254);
                                text-decoration: none;
                                font-weight: 500;
                            }
                        }
                    }

                    .form-label {
                        font-weight: 500;
                        color: #495057;

                        span {
                            a {
                                text-decoration: none;
                                cursor: pointer;
                            }
                        }
                    }

                    .form-control {
                        &:focus {
                            border: none;
                            border-color: none;
                            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                        }
                        &:focus-visible{
                            border: none;
                        }
                    }
                    .btn-primary {
                        background-color: #ff8d30;
                        border: none;
                        border-color: none;
                        width: 100%;
                        transition: $tran-04;
                        border-radius: 5px;
                        color: #ffffff;
                        &:hover {
                            background-image: linear-gradient(to right, #FF512F 0%, #ef7c1e 70%);
                            border-color: none;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}
